---
import Layout from '../layouts/Layout.astro';
import Quizee from '../components/Questions';
import Product from '../components/Product';
import Questions from '../components/Questions';
import Comments from '../components/Comments.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="container">
      <h1 class="text-2xl font-bold mb-5">Lorem ipsum dolor</h1>
      <h2 class="text-xl font-bold mb-5">Commodo viverra arcu</h2>
      <p class="mb-5">
        Lorem ipsum dolor sit amet consectetur adipiscing elit ultricies venenatis ac feugiat quisque facilisis, per leo maecenas tempor pellentesque
        bibendum metus cubilia enim natoque dui magnis.
      </p>
      <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipiscing elit ultricies venenatis ac feugiat quisque facilisis.</p>
      <Product client:load />
      <Questions client:load />
    </div>
    <Comments />
  </main>
</Layout>

<script src="../scripts/wheel.js"></script>
<script src="../scripts/main.js"></script>
