---
import Layout from '../layouts/Layout.astro';
import Product from '../components/Product';
import Questions from '../components/Questions';
import Comments from '../components/Comments.astro';
---

<Layout title="Welcome to Astro.">
  <main class="container overflow-clip">
    <Questions client:load />
    <Comments />
  </main>
</Layout>
