---
import Layout from '../layouts/Layout.astro';
import Data from '../components/Data';
import Comments from '../components/Comments.astro';
import { getDirectusClient, getAssetURL } from '../utils';
import TestGift from '../components/TestGift';

const projectName = import.meta.env.PROJECT_NAME;
const directus = await getDirectusClient();
const response = await directus.query(
  `
  query {
    sweepstakes (filter: {name: {_eq: "${projectName}"}}) {
      data
      images {
        id
        directus_files_id {
          filename_download
          id
        }
      }
    }
  }
  `,
);

const productImages = response.sweepstakes[0].images;
---

<Layout title="Welcome to Astro.">
  <main class="container overflow-clip">
    <Data contentData={response.sweepstakes[0].data} images={productImages} client:load />
    <Comments />
  </main>
</Layout>
