---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon'
---

<header class='sticky top-0 z-50 left-8 bg-[#4B94F7] py-3'>
	<div class='container flex items-center justify-between gap-5'>
		<Image src={import('../assets/logo.svg')} alt='logo' />
		<div class='flex items-center text-white gap-3'>
			<Icon name='mdi:heart-outline' class='w-7 h-7' />
			<Icon name='mdi:user-outline' class='w-7 h-7' />
			<Icon name='mdi:cart-outline' class='w-7 h-7' />
		</div>
	</div>
</header>
