.wheel {
  position: relative;
}
.wheel canvas {
  border-radius: 50%;
  border: none;
}
.wheel::after {
  content: '';
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%);
  width: 92px;
  height: 80px;
  background: url('../assets/wheel-arrow.svg') 0 0 no-repeat;
}
