.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  text-align: center;
}
.swiper-slide img {
  display: block;
  object-fit: contain;
}
.mySwiper {
  width: auto !important;
}
.mySwiper .swiper-wrapper {
  flex-direction: column;
  gap: 15px;
  width: 90px;
  justify-content: center;
}

@media (max-width: 640px) {
  .mySwiper .swiper-wrapper {
    flex-direction: row;
    gap: 0;
    width: 100%;
    justify-content: start;
  }
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 80px;
  opacity: 0.4;
}

@media (min-width: 640px) {
  .mySwiper .swiper-slide {
    width: 80px !important;
  }
}

.mySwiper .swiper-slide img {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
}

.mySwiper .swiper-slide {
  opacity: 0.5;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}
